{% extends "Computer/base.html" %}
{% load static %}
{% block body_block %}

<!-- Start All Title Box -->
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h2>Đăng Ký Tài Khoản</h2>
			<ul class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Home</a></li>
				<li class="breadcrumb-item active"> Đăng Ký </li>
			</ul>
		</div>
	</div>
</div>
<!-- End All Title Box -->

<div class="container">
	<form class="form" method="POST" action="{% url 'khachhang:dangky.html'%}">
	<div class="row">
		<div class="col-lg-4 col-12">
			<div class="contact-info-left">
				<div class="single-widget">
					<h2>THÔNG TIN GIỎ HÀNG</h2>
					<div class="content">
						<ul>
							{% for item in cart %}
							<li>
								{{ item.quantity }}x {{ item.product.name }}
								<span>{% load humanize %}{{item.total_price|floatformat:0|intcomma}} đ</span>
							</li>
							{% endfor %}
						</ul>
						<ul>
							<li>
								<hr />
							</li>
							<li>Tạm tính<span>{% load humanize %}{{cart.get_total_price|floatformat:0|intcomma}} đ</span></li>
							<li>(+) Giao hàng<span>0 đ</span></li>
							<li class="last">Tổng đơn hàng<span>{% load humanize %}{{cart.get_total_price|floatformat:0|intcomma}} đ</span></li>
						</ul>
					</div>
				</div>
				<div class="single-widget get-button">
					<div class="content">
						<div class="button">
							
						</div>
					</div>
				</div>
			</div>
		</div>	
		<div class="col-lg-8 col-12">
			<div class="contact-form-right">
				<h2>Thông tin khách hàng</h2>
				<p>Vui lòng đăng ký tài khoản tại <a href="{% url 'khachhang:dangky.html'%}">
					<b>Sign in</b></a> để việc đặt hàng nhanh chóng và dễ dàng hơn</p>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-12">
						<div class="form-group">
							<label>Tên đăng nhập<span>*</span></label>
							{{form.username}}
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-12">
						<div class="form-group">
							<label>Nhập lại Mật khẩu<span>*</span></label>
							{{form.confirm}}
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-12">
						<div class="form-group">
							<label>Mật khẩu<span>*</span></label>
							{{form.password}}
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-12">
						<div class="form-group">
							<label>Họ tên<span>*</span></label>
							{{form.fullname}}
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-12">
						<div class="form-group">
							<label>Email<span>*</span></label>
							{{form.email}}
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-12">
						<div class="form-group">
							<label>Số điện thoại<span>*</span></label>
							{{form.phone}}
						</div>
					</div>
					<div class="col-12">
						<div class="form-group">
							<label>Địa chỉ giao hàng<span>*</span></label>
							{{form.address}}
						</div>
					</div>	
					<div class="single-widget get-button">
						<div class="content">
							<div class="button">
								<button type="submit" class="btn ">Đăng ký</button>
								{% csrf_token %}
							</div>	
							<div>
								<h6>{{result}}</h6>
							</div>							
						</div>
					</div>
										
				</div>					
			</div>
		</div>			
	</div>		
	</form>
</div>


{% endblock %}