{% extends "Computer/base.html" %}
{% load static %}
{% block body_block %}

<!-- Start All Title Box -->
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h2>Đăng Nhập Hệ Thống</h2>
			<ul class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Home</a></li>
				<li class="breadcrumb-item active"> Đăng Nhập</li>
			</ul>
		</div>
	</div>
</div>
<!-- End All Title Box -->


<!-- Start Contact -->
	<div class="container">
		<div class="row">
			<div class="contact-form-right">
				<div class="col-lg-8 col-12">
					<div class="form-main">
						<div class="title">
							<h4>Đăng nhập</h4>
						</div>
						<form class="form" method="POST" action="{% url 'khachhang:dangnhap.html' %}">
							{% csrf_token %}
							<div class="row">
								<div class="col-lg-6 col-12">
									<div class="form-group">
										<label>Username<span>*</span></label>
										<input name="username" type="text"/>
									</div>
								</div>
								<div class="col-lg-6 col-12">
									<div class="form-group">
										<label>Password<span>*</span></label>
										<input name="password" type="password"/>
									</div>
								</div>								
								<div class="col-12">
									<div class="form-group button">
										<button type="submit" class="btn ">Đăng nhập</button>
									</div>
								</div>
							</div>
						</form>
						<div class="title">
							<h7 style="color:blue;">{% if login_result %} {{login_result}} {% endif %}</h6>			
							<h7 style="color:red;">{% if logout %} {{logout}} {% endif %}</h6>												
						</div>
					</div>
				</div>
			</div>
			<div class="contact-form-left">
				<div class="col-lg-4 col-12">
					<div class="single-head">
						<div class="single-info">
							<i class="fa fa-phone"></i>
							<h4 class="title">Điện thoại:</h4>
							<ul>
								<li>(028) 38 351 056</li>
							</ul>
						</div>
						<div class="single-info">
							<i class="fa fa-envelope-open"></i>
							<h4 class="title">Email:</h4>
							<ul>
								<li><a href="mailto:tuvan@csc.hcmus.edu.vn">tuvan@csc.hcmus.edu.vn</a></li>
							</ul>
						</div>
						<div class="single-info">
							<i class="fa fa-location-arrow"></i>
							<h4 class="title">Địa chỉ:</h4>
							<ul>
								<li>CS1: 227 Nguyễn Văn Cừ P.4, Q.5, TP.HCM</li>
								<li>CS2: 137E Nguyễn Chí Thanh P.9, Q.5, TP.HCM</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>

<!--/ End Contact -->

<!--/ End Map Section -->
{% endblock %}