{% extends "Computer/base.html" %}
{% load static %}
{% block body_block %}

<!-- Start Checkout -->
<section class="shop checkout section">
	<div class="container">
		<form class="form" method="POST" action="{% url 'khachhang:dathang.html'%}">
		<div class="row">
			<!-- Form -->
			<div class="col-lg-8 col-12">
				<div class="checkout-form">
					<h2>Thông tin khách hàng</h2>
					<p>Vui lòng đăng ký tài khoản tại <a href="{% url 'khachhang:dangky.html'%}">
						<b>Sign in</b></a> để việc đặt hàng nhanh chóng và dễ dàng hơn</p>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-12">
							<div class="form-group">
								<label>Họ tên</label>
								{{fullname}}
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-12">
							<div class="form-group">
								<label>Email</label>
								{{email}}
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-12">
							<div class="form-group">
								<label>Số điện thoại</label>
								{{phone}}
							</div>
						</div>
						<div class="col-12">
							<div class="form-group">
								<label>Địa chỉ giao hàng<span>*</span></label>
								{{form.diachigiaohang}}
							</div>
						</div>	
						<div class="col-12">
							<div class="form-group">
								<label>Hình thức thanh toán</label>
								{{form.httt}}
							</div>
						</div>	
					</div>					
				</div>
			</div>
			<div class="col-lg-4 col-12">
				<div class="order-details">
					<!-- Order Widget -->
					<div class="single-widget">
						<h2>THÔNG TIN GIỎ HÀNG</h2>
						<div class="content">
							<ul>
								{% for item in cart %}
								<li>
									{{ item.quantity }}x {{ item.product.name }}
									<span>{% load humanize %}{{item.total_price|floatformat:0|intcomma}} đ</span>
								</li>
								{% endfor %}
							</ul>
							<ul>
								<li>
									<hr />
								</li>
								<li>Tạm tính<span>{% load humanize %}{{cart.get_total_price|floatformat:0|intcomma}} đ</span></li>
								<li>(+) Giao hàng<span>0 đ</span></li>
								<li class="last">Tổng đơn hàng<span>{% load humanize %}{{cart.get_total_price|floatformat:0|intcomma}} đ</span></li>
							</ul>
						</div>
					</div>
					<!--/ End Order Widget -->
					<!-- Button Widget -->
					<!-- <div class="single-widget get-button">
						<div class="content">
							<div class="button">
								<button type="submit" class="btn " >Đặt hàng</button>
                                    {% csrf_token %}
							</div>										
						</div>
					</div>					 -->
					<!--/ End Button Widget -->									
				</div>
			</div>
			<div>
				<h6>{{result}}</h6>
			</div>
		</div>		
		</form>
		<!--/ End Form -->
	</div>
	
</section>
<!--/ End Checkout -->

{% endblock %}