{% extends "Computer/base.html" %}
{% load static %}
{% block body_block %}

<!-- Start Checkout -->
<section class="shop checkout section">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-12">
				<div class="checkout-form">
					<h2>Cảm ơn quý khách</h2>
					<p>Quý khách <b> {{dh.khachhang}} </b> đã đặt hàng thành công. Đơn hàng của quý khách
						có mã số {{dh.id }}</p>
				</div>
			</div>
			<div class="col-lg-4 col-12">
				<div class="order-details">
					<!-- Order Widget -->
					<div class="single-widget">
						<h2>THÔNG TIN GIAO HÀNG (Dự kiến)</h2>
						<div class="content">
							<ul>
								<li>Phone: {{id.phone}}</li>
								<li>Email: {{id.email}}</li>
								<li>Địa chỉ giao hàng: {{id.address}}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--/ End Checkout -->

{% endblock %}