{% extends "Computer/base.html" %}
{% load static %}
{% block body_block %}

<!-- Shopping Cart -->
<div class="cart-box-main">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- Shopping Summery -->
				<div class="table-main table-responsive">
					<table class="table">
						<thead>
							<tr >
								<th>Hình Ảnh</th>
								<th>Tên Sản Phẩm</th>
								<th>Đơn Giá (đ)</th>
								<th>Số Lượng</th>
								<th>Thành Tiền</th>
								<th><i class="ti-trash remove-icon"></i> Xóa</th>
							</tr>
						</thead>
						<tbody>
							{% for item in cart %}
							{% with product=item.product %}
							<tr>
								<td class="thumbnail-img"><img src="{{product.hinh_anh.url}}" alt="{{product.ten_sp}}" class="img-fluid">
								</td>
								<td class="product-des" data-title="Description">
									<p class="product-name"><a href="{% url 'Computer:sanpham.html' product.pk %}">{{product.ten_sp}}</a></p>
								</td>
								<td class="price" data-title="Price"><span>{% load humanize %}{{product.don_gia|floatformat:0|intcomma}}</span></td>
								<td class="qty" data-title="Qty">
									<!-- Input Order -->
									<div class="input-group">
										<form action="{% url 'giohang:cart_add' product.id %}" method="POST">
											{% csrf_token %}
											{{item.update_quantity_form.quantity}}
											{{item.update_quantity_form.override}}
											<input type="submit" value="&#x21bb;">										
										</form>
									</div>
									<!--/ End Input Order -->
								</td>
								<td class="total-amount" data-title="Total"><span>{% load humanize %}{{item.total_price|floatformat:0|intcomma}}</span></td>
	
								<td class="remove-pr" data-title="Remove">
									<form action="{% url 'giohang:cart_remove' product.id %}" method="POST">
										{% csrf_token %}
										<input type="submit" value="&#9746;" class="fas fa-times" >
								</td>
								{% csrf_token %}
								</form>
							</tr>
							{% endwith %}
							{% endfor %}
						</tbody>
					</table>
				</div>				
				<!--/ End Shopping Summery -->
			</div>
		</div>
		<div class="row my-5">
			<div class="col-lg-8 col-sm-12"></div>
			<div class="col-lg-4 col-sm-12">
				<!-- Total Amount -->
				<div class="order-box">
					<h3>Chi Tiết Đơn Hàng</h3>
					<div class="d-flex">
						<h4>Tạm tính</h4>
						<div class="ml-auto font-weight-bold"><span>{% load humanize %}{{cart.get_total_price|floatformat:0|intcomma}} đ</span> </div>
					</div>
					<div class="d-flex">
						<h4>Phí Giao hàng</h4>
						<div class="ml-auto font-weight-bold"><span>Miễn phí</span></div>
					</div>						
					<hr>
					<div class="d-flex gr-total">
						<h5>Tổng đơn hàng</h5>
						<div class="ml-auto h5"><span>{% load humanize %}{{cart.get_total_price|floatformat:0|intcomma}} đ</span></div>
					</div>
					<hr>
				</div>
				<!--/ End Total Amount -->
			</div>
			<div class="col-12 d-flex shopping-box">				
				{% if cart%}
					<a href="{% url 'dathang:taodonhang.html' %}" class="ml-auto btn hvr-hover">Thanh toán</a>
				{% endif %}
				<!-- <a href="{% url 'Computer:shop.html' 1%}" class="ml-auto btn hvr-hover">Tiếp tục mua hàng</a> -->
			</div>
		</div>
	</div>
</div>
<!--/ End Shopping Cart -->
{% endblock %}